/* ESTILO GERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00d3d3;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #00d3d3d3;
    transform: scale(1.05);
}

section .titulo{
    color: white;
    font-size: 38px;
    text-align: center;
}

section .titulo span{
    color: #00d3d3d3;
}

/* ESTILO DO CABEÇALHO */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*color: white;*/
}

header h1{
    color: white;
}

header h3{
    color: white;
}

header a{
    color: #999999;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #ffffff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO TOPO DO SITE */

.topo-site{
    padding-top: 90px;
    padding-left: 4%;
    padding-right: 4%;
}

section .topo-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-site .txt-topo-site h1{
    color: white;
    font-size: 38px;
    line-height: 30px;
}

.topo-site .txt-topo-site h1 span{
    color: #00d3d3;
}

.topo-site .txt-topo-site p{
    color: white;
    margin: 40px 0px;
}

.topo-site .img-topo-site img{
    position: relative;
    width: 300px;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: -30px;
    }
}

/* ESTILOS ESPECIALIDADES */

section.especialidades{
    padding-top: 50px;
    padding-left: 4%;
    padding-right: 4%;
}

section .especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: white;
    padding: 25px;
    margin-top: 45px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    transition: .2s;
}

#website{
    max-width: 380px;
}

.topo-especialidades{
    text-align: center;
}

.footer-especialidades{
    text-align: center;
    margin-top: 10px;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.482);
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #00d3d3d3;
}

.especialidades .especialidades-box .bi-filetype-html, .especialidades .especialidades-box .bi-filetype-css, .especialidades .especialidades-box .bi-filetype-js{
    font-size: 45px;
    margin: 10px;
}

.especialidades .especialidades-box .bi-database-exclamation, .especialidades .especialidades-box .fa-brands{
    font-size: 45px;
    margin: 5px;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO SOBRE */

section.sobre{
    padding-top: 50px;
    padding-left: 4%;
    padding-right: 4%;
}

section.sobre img{
    width: 180px;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: white;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #00d3d3;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00d3d3;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/*ESTILO PROTIFOLIO */

section.portifolio{
    padding-top: 40px;
    padding-left: 4%;
    padding-right: 4%;
}

section.portifolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 260px;
    height: 360px;
    cursor: pointer;
    border-radius: 40px;
    background-color: #00d3d3;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.682);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* ESTILO FALE COMIGO*/

section.formulario{
    padding-top: 50px;
    padding-left: 4%;
    padding-right: 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: rgb(35, 35, 35);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}

form input::placeholder{
    color: #00d3d383;
}

form textarea{
    resize: none;
    max-height: 500px;
}

form textarea::placeholder{
    color: #00d3d383;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #00d3d3;
    color: black;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO FOOTER */

footer{
    padding: 0px 4%;
    color: white;
}

.logo-footer{
    position: relative;
}

.span{
    width: 200px;
    position: absolute;
    top: 50%;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #00d3d3;
}

footer .line-footer p i{
    color: #00d3d3;
    font-size: 22px;
}

footer .line-footer p a{
    color: white;
    text-decoration: none;
}